body {
    margin: 0;
    padding: 0;
}       
header{
    font-family: "Atkinson Hyperlegible Mono", sans-serif;
}
.pic{
    height:475px;
    width:350px;
}
.text-first{
    width:350px;
    font-size: larger;
}
.text-second{
    font-style:italic;
    width: 350px;
}
.content{
    margin:10px;
}
.container{
    display:flex;
    margin-bottom: 20px;
}
.footer-section1{
    height:70px;
    display: flex;
}
.footer-section2{
    height:170px;
    background-color: black;
    color:white;
    padding: 20px;
}
header a{
    text-decoration: none;
    color: black;
}
footer a{
    text-decoration: none;
    color: white
}
button{
    filter: drop-shadow(0rem 0.1rem 0.35rem rgba(0, 0, 0, 0.16));
    will-change: filter;
    background: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    float: right;
    margin-left: 500px;
    margin-right: 5px;
}
.deem-text{
    font-weight: bold;
    margin-left: 10px;
    font-size: 30px;
}
h1{
    font-size: 40px;
}
.header-section1{
    display: flex;
    height: 30px;
    align-items: center;
    margin-top: 3px;
}
.navbar{
    margin-left: 500px;
}
.header-section2{
    margin-left: 9px;
    font-weight: bold;
    font-size: 45px;
}
.archive{
    margin: 5px;
    font-weight: bold;
    font-size: 50px;
}
.text{
    margin-left: 700px;
    font-size: larger;
}
.first{
    margin-right: 20px;
    margin-left: 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 45px;
}
.second{
    margin-left: 695px;
}
.full{
    height: 100vh;
    width: 100vw;
}
.row1{
    display: flex;
    margin-bottom: 15px;

}

.footer-bar{
    display: flex;
    gap:15px;
}

.row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.about, .copyright{
    font-size: 9px;
    color:grey;
    flex-wrap: nowrap;
}
.footer-bar ul{
    display: flex;
    gap:20px;
    margin-left: 5px;
    padding: 0px;
}